{% extends 'base.html' %}

{% block title %}
    E-Farmer | Checkout
{% endblock %}

{% block content %}
    <div class="container">
        {% if not user.is_authenticated %}
            <h1 class="font-weight-light my-2 text-underline text-danger">You must login first!</h1> <hr>
            <div class="d-flex flex-row">
                <a class="btn btn-danger rounded-0 mr-2" href="{% url 'login_page' %}?next=/cart/">Login</a>
                <a class="btn btn-danger rounded-0" href="{% url 'register_page' %}?next=/cart/">Register</a>
            </div>
        {% else %}
            <h1>Checkout</h1>
            <p>Cart Total: {{ object.cart.total }}</p>
            <p>Shipping Total: {{ object.shipping_total }}</p>
            <p>Order Total: {{ object.order_total }}</p>
            <hr>
            {{ object.id }} -- {{ object.cart.id }}
            <hr>
            {{ billing_profile }}
        {% endif %}
    </div>
{% endblock %}