{% extends 'base.html' %}

{% block title %}
    E-Farmer | Checkout
{% endblock %}

{% block content %}
    <div class="container">
        {% if not user.is_authenticated %}
            <h1 class="font-weight-light my-2 text-underline text-danger">You must login first!</h1> <hr>
            <div class="d-flex flex-row">
                <a class="btn btn-danger rounded-0 mr-2" href="{% url 'login_page' %}?next=/cart/">Login</a>
                <a class="btn btn-danger rounded-0" href="{% url 'register_page' %}?next=/cart/">Register</a>
            </div>
        {% else %}
            <div class="mt-3">
            {% include 'carts/cart_summary.html' with num_cart_items=num_cart_items products=object.cart.products.all shipping=object.shipping_total total=object.order_total %}
            </div>

            <form action="{% url 'carts:create_order' %}" method="POST"> {% csrf_token %}
            <h1 class="display-5 font-weight-light text-danger my-3">My Addresses</h1>
              <div class="form-group">
                {% if addresses %}
                <p><i>Select Shipping Address</i></p>
                {% for address in addresses %}
                    <div class="form-check">
                      <input class="form-check-input" type="radio"
                             name="shipping_address" value="{{ address.id }}">
                      <label class="form-check-label" for="shipping_address">
                        <p>
                        {{ address.full_name }}, <br> {{ address.address_line_1 }}, <br>
                        {% if address.address_line_2 %}{{ address.address_line_2 }}, <br>{% endif %}
                        {{ address.city }},<br> {{ address.state }} - {{ address.postal_code }}, <br> {{ address.country }}.<br>
                        </p><br>
                      </label>
                    </div>
                {% endfor %}
                <h4>Or..</h4>
                <a class="btn btn-info text-light" href="{% url 'carts:checkout_address_create' %}">Create New Address</a>
                {% else %}
                    <h4 class="font-weight-normal">You have no saved address.</h4><br>
                    <a class="btn btn-info text-light" href="{% url 'carts:checkout_address_create' %}">Create New Address</a>
                {% endif %}
                <hr>
              </div>
                <h1 class="display-5 font-weight-light text-danger my-3">Payment Method</h1>
              <div class="form-check">
{#                <input type="checkbox" class="form-check-input"#}
{#                       name="payment_method" value="cash_on_delivery" checked readonly="readonly">#}
                <select class="custom-select my-3" name="payment_method">
                  <option value="cash_on_delivery" selected readonly="readonly">Cash On delivery</option>
                </select>
              </div>
              <button type="submit" class="btn-lg rounded-0 btn-square btn-success mt-2 float-right">Place Order</button>
            </form>

{#            <form action="" method="POST">#}
{#            {% if addresses %}#}
{#                <p><i>Select Shipping Address</i></p>#}
{#                {% for address in addresses %}#}
{#                    <div class="form-check">#}
{#                      <input class="form-check-input" type="radio" name="address_id" id="exampleRadios1" value="{{ address.id }}">#}
{#                      <label class="form-check-label" for="exampleRadios1">#}
{#                        <p>#}
{#                        {{ address.full_name }}, <br> {{ address.address_line_1 }}, <br>#}
{#                        {% if address.address_line_2 %}{{ address.address_line_2 }}, <br>{% endif %}#}
{#                        {{ address.city }},<br> {{ address.state }} - {{ address.postal_code }}, <br> {{ address.country }}.<br>#}
{#                        </p><br>#}
{#                      </label>#}
{#                    </div>#}
{#                {% endfor %}#}
{#                <h4>Or..</h4>#}
{#                <a class="btn btn-info text-light" href="{% url 'carts:checkout_address_create' %}">Create New Address</a>#}
{#            {% else %}#}
{#                <h3>You have no saved address.</h3><br>#}
{#                <a class="btn btn-info text-light" href="{% url 'carts:checkout_address_create' %}">Create New Address</a>#}
{#            {% endif %}#}
{#            <hr>#}
{##}
{#            </form>#}

        {% endif %}
    </div>
{% endblock %}
