{% extends "base.html" %}
{% block title %}
    E-Farmer | Contact Us
{% endblock %}

{% block content %}

<div class="container">
        <div class="jumbotron text-xs-center mt-3">
        <h1 class="mt-3"><span class="text-secondary">Welcome to {{ title }}</span></h1>
        <hr>
        <div class="row">
            <div class="col">
                <div class="d-flex col-sm-12 col-12">
                    {% load crispy_forms_tags %}
                    <form method="post"> {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
</div>

{% endblock %}