
<div class="row categories">
  <div class="col-md-12 d-flex justify-content-center text-capitalize">
    <h2>categories</h2>
  </div>
</div>
<div class="d-flex justify-content-around mt-5">
  <a
    class="btn btn-danger rounded-0 text-capitalize mr-1"
    href="/products/category/horticulture-seeds/"
    role="button"
    >horticulture seeds</a
  >
  <a
    class="btn btn-info rounded-0 text-capitalize mr-1"
    href="/products/category/field-crops/"
    role="button"
    >field crops</a
  >
  <a
    class="btn btn-success rounded-0 text-capitalize mr-1"
    href="/products/category/forage-seeds/"
    role="button"
    >forage seeds</a
  >
  <a
    class="btn btn-warning rounded-0 text-capitalize mr-1"
    href="/products/category/plant-nutrients/"
    role="button"
    >plant nutrients</a
  >
  <a
    class="btn btn-dark rounded-0 text-capitalize mr-1"
    href="/products/category/pesticides/"
    role="button"
    >pesticides</a
  >
  <a
    class="btn btn-danger rounded-0 text-capitalize mr-1"
    href="/products/category/tools-and-instruments"
    role="button"
    >tools and instruments</a
  >
  <a
    class="btn btn-info rounded-0 text-capitalize mr-1"
    href="/products/category/urban-garden-seeds"
    role="button"
    >urban garden seeds</a
  >
</div>