{% extends "base.html" %}

{% block title %}
    E-Farmer | {{ object.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="display-4 text-info mt-2">Product Info</div>
    </div>
    <div class="container">
        <div class="card mx-auto">
            <div class="card-body bg-light">
            <h1 class="card-title text-danger font-weight-light">{{ object.name }}</h1>
            <img class="img-fluid" width="400px" height="400px" src='{{ object.image.url }}' />
            <p class="card-text"><br>
                {% if not object.is_available %}
                    <span class="h5 text-danger mb-1">Out Of Stock</span> <br />
                {% endif %}
            <span class="h5 text-primary mb-1">Category: {{ object.category }}</span> <br />
            <span class="h5">Description:</span>
            {{ object.description | linebreaks}} <br />
            <span class="h1 text-danger">Rs. {{ object.selling_price }} /-</span><hr />
            </p> <br>
            <div class="row">
                <div class="col">
                <form action="{% url 'carts:cart_update' %}" method="POST">{% csrf_token %}
                  <input type="hidden" value="{{ object.id }}" name="product_id">
                  {% if object.is_available %}<button class="btn-lg btn-primary rounded-0" type="submit">Add to Cart</button>{% endif %}
                </form>
                </div>
                <div class="col">
                    <a href="{% url 'carts:cart' %}" class="btn-lg rounded-0 btn-primary" >View Cart</a>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}